<div>
  <div class="card mx-auto my-5" style="max-width: 700px;">
    <div class="px-3 py-3">
      <div class="mb-3">
        <label for="name" class="form-label">名前 <span class="badge bg-danger">必須</span></label>
        <input type="text" class="form-control" name="name" required></input>
      </div>
      <div class="mb-3">
        <label for="type" class="form-label">タイプ <span class="badge bg-danger">必須</span></label>
        <input type="text" class="form-control" name="type" required></input>
      </div>
      <div class="mb-3">
        <label for="color" class="form-label">色 <span class="badge bg-danger">必須</span></label>
        <input type="text" class="form-control" name="color" required></input>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">価格 <span class="badge bg-danger">必須</span></label>
        <input type="text" class="form-control" name="price" required></input>
      </div>
    </div>
  </div>
</div>