<div class="mx-auto my-5" style="max-width: 700px">
  <div class="card mb-3 px-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://young-machine.com/main/wp-content/uploads/2023/03/23ZX1002L_GN1DLS3CG_A.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Ninja ZX-10R KRT EDITION</h5>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">オイル交換時 2.9L</li>
            <li class="list-group-item">フィルタ交換時 3.4L</li>
            <li class="list-group-item">モデル 8BL-ZXT02L</li>
            <li class="list-group-item">排気量 998cc</li>
          </ul>
          <p class="card-text"><small class="text-body-secondary">購入日 2023/07/16</small></p>
        </div>
      </div>
    </div>
  </div>
</div>