<div class="mx-auto" style="max-width: 700px">
  <canvas id="myChartOdo"></canvas>
  <table class="table table-striped-columns table-bordered ">
    <thead>
      <tr>
        <th scope="row">#</th>
        <td>走行距離</td>
        <td>メンテナンス費用</td>
        <td>登録日付</td>
      </tr>
    </thead>
    <tbody>
      <% dataList.forEach((data, index) => { %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= String(data.odo).replace( /(\d)(?=(\d\d\d)+(?!\d))/g, '$1,') %></td>
          <td><%= String(data.price).replace( /(\d)(?=(\d\d\d)+(?!\d))/g, '$1,') %></td>
          <td><%= data.date %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <canvas id="myChartPrice"></canvas>
    <canvas id="myChartMileage"></canvas>
</div>

<script>

  function getApi(url) {
    return new Promise((resolve, reject) => {
      fetch(url)
        .then((res) => res.json())
        .then((data) => {
          resolve(data);
        });
    });
  }

  fetch('/api/graph')
        .then((res) => res.json())
        .then((data) => {
          ConvertChartByData(data);
        });

  function ConvertChartByData(dataList) {
    let labels = [];
    let odoData = [];
    let priceData = [];
    dataList.forEach((data) => {
      labels.push(data.date);
      odoData.push(data.odo);
      priceData.push(data.price);
    });
    const ctx = document.getElementById("myChartOdo");
    const myLineChart = new Chart(ctx, {
      data: {
        labels: labels,
        datasets: [
          {
            type: 'line',
            label: '走行距離',
            data: odoData,
            borderColor: "rgba(32, 99, 232, 0.8)",
            backgroundColor: "rgba(32, 99, 232, 0.2)",
            fill: true,
            tension: 0
          },
          {
            type: 'bar',
            label: 'メンテナンス費用',
            data: priceData,
            borderColor: "rgba(255, 99, 132, 0.8)",
            backgroundColor: "rgba(255, 99, 132, 0.2)",
            fill: true,
            tension: 0.1,
          },
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    })
  }
</script>