<div class="mx-auto my-5" style="max-width: 400px;">
  <% dataList.forEach((data) => { %>
    <div class="card mb-3">
      <div class="row g-0">
        <!-- <div class="col-md-4">
          <img src="https://ascii.jp/img/2023/05/01/3531840/l/f3cf566db48c40e1.png" class="img-fluid rounded-start" alt="...">
        </div> -->
        <div class="card-header">
          <%= data.title %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <!-- <h5 class="card-title"><%= data.title %></h5> -->
            <p class="card-text">
              <%= data.description %>
            </p>
            <p class="card-text"><small class="text-body-secondary"><%= data.date %></small></p>
          </div>

        </div>
        <div class="card-footer text-body-secondary">
          <a href="#" class="btn btn-primary">編集</a>
          <a href="#" class="btn btn-danger">削除</a>
        </div>
      </div>
    </div>
  <% }) %>
</div>