
<form class=" px-3" action="/user/login" method="POST">
  <div class="card mx-auto my-5" style="max-width: 400px;">
    <div class="px-3 py-3">
      <% if (params.error) { %>
      <div class="alert alert-danger" role="alert">
        <%= params.error %>
      </div>
      <% } %>
      <div class="mb-3">
        <label for="email" class="form-label">メールアドレス <span class="badge bg-danger">必須</span></label>
        <input type="text" class="form-control" name="email" value="" required></input>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">パスワード <span class="badge bg-danger">必須</span></label>
        <input type="password" class="form-control is-invalid" name="password" value="" required></input>
        <div class="invalid-feedback">
          パスワードが入力されていません。
        </div>
      </div>
      <div class="mb-3">
        <a href="/user/register">新規登録はこちら</a>
      </div>
      <button type="submit" class="btn btn-primary w-100">ログイン</button>
    </div>
  </div>
</form>