
<form action="<%= page_id %>/register" method="POST">
  <div class="card mx-auto my-5" style="max-width: 600px;">
    <!-- <div class="card-header">
      メンテナンス登録
    </div> -->
    <div class="px-3 py-3">
      <div class="mb-3">
        <label for="bikeName" class="form-label">バイク名 <span class="badge bg-danger">必須</span></label>
        <select name="bikeName" id="bikeName" class="form-select">
          <option value="ZX-10R">Kawasaki Ninja ZX-10R</option>
          <option value="CBR1000RR-R">Honda CBR1000RR-R</option>
          <option value="R1M">YAMAHA R1M</option>
          <option value="GSXR-1000R">SUZUKI GSXR-1000R</option>
          <option value="S1000RR">BMW S1000RR</option>
          <option value="V4R">DUCATI Panigale V4 R</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">メンテナンス題名 <span class="badge bg-danger">必須</span></label>
        <select name="title" id="title" class="form-select">
          <option value="タイヤ交換">タイヤ交換</option>
          <option value="オイル交換">オイル交換</option>
          <option value="オイルフィルター交換">オイルフィルター交換</option>
          <option value="ガソリン活性剤">ガソリン活性剤</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">メンテナンス内容 <span class="badge bg-secondary">任意</span></label>
        <textarea class="form-control" name="description" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label for="odo" class="form-label">走行距離(km) <span class="badge bg-danger">必須</span></label>
        <input type="number" class="form-control" name="odo" placeholder="10000" required>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">メンテナンス費用(円) <span class="badge bg-danger">必須</span></label>
        <input type="number" class="form-control" name="price" placeholder="123456" required>
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">メンテナンス日 <span class="badge bg-danger">必須</span></label>
        <input id="maintenance-date" type="date" class="form-control" name="date" required>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">登録</button>
      </div>
    </div>
  </div>
</form>

<script>
  const maintenanceDate = document.getElementById('maintenance-date');
  const today = new Date();
  const year = today.getFullYear();
  const month = today.getMonth();
  const day = today.getDate();
  const formattedDate = `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')}`;
  maintenanceDate.value = formattedDate;
</script>