
<form class="px-3" action="/user/register" method="POST">
  <div class="card mx-auto my-5" style="max-width: 700px;">
    <div class="px-3 py-3">
      <div class="mb-3">
        <label for="email" class="form-label">メールアドレス <span class="badge bg-danger">必須</span></label>
        <input type="text" class="form-control" name="email" required></input>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">ユーザー名 <span class="badge bg-danger">必須</span></label>
        <input type="text" class="form-control" name="username" required></input>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">パスワード <span class="badge bg-danger">必須</span></label>
        <input type="password" class="form-control" name="password" required></input>
      </div>
      <div class="mb-3">
        <label for="password2" class="form-label">パスワード(確認) <span class="badge bg-danger">必須</span></label>
        <input type="password" class="form-control" name="password2" required></input>
      </div>
      <div class="mb-3">
        <a href="/user/login">ログインはこちら</a>
      </div>
      <button type="submit" class="btn btn-primary w-100">登録</button>
    </div>
  </div>
</form>